body
{
    background-color: rgb(39, 37, 37);
color:white;
}
h1{
    text-align: center;
    color: rgb(26, 140, 239);
}
label{
color:rgb(236, 189, 241)
}
legend{
    color:red
}
option{
    color: rgb(217, 0, 255);
}
p{
    font-size:large;
    text-align: center;
    color: rgb(26, 140, 239);
}